<custom-style>
  <style is="custom-style">
    :root, html {
      --cells-icon-message-inline-error:{
        background-color: var(--cells-icon-message-background-color-error, var(--bbva-white-coral, #FCDFDF));
      }
      --cells-bfm-expandable-inner-tables:{
        border-bottom: none;
        border-left: 1px solid #F4F4F4;
        border-right: 1px solid #F4F4F4;
      }
      --cells-bfm-expandable-table:{
        border-bottom: 1px solid #F4F4F4;
      }
      --cells-accordion-step-content:{
        padding: 0;
        margin: 0;
      }
      --cells-accordion-step-content-before:{
        box-shadow: none;
      }
      --cells-accordion-step-content-after:{
        box-shadow: none;
      }
    }
    #cells-template-ivregistration{
      --cells-bfm-credentials-wrapper:{
        margin-top: 3rem;
      }
    }
  </style>
</custom-style>

<!-- Component shared styles
<dom-module id="some-component-shared-styles">
  <template>
    <style>
    </style>

  </template>
</dom-module>
-->
