<custom-style>
  <style is="custom-style">
    @media (max-device-width: 48em) {
      :root, html {
        --cells-global-focus: {
          outline: none;
        };
      }
    }

    @media (min-device-width: 48.06em) {
      :root, html {
        --cells-global-focus: {
          outline: thin dotted;
        };
      }
    }

    :root, html {
      /* Define global mixins or vars */
    }
  </style>
</custom-style>
